.secret-list-admin-table {
  width: 100%;
  border-collapse: collapse;
}

.secret-list-admin-table th,
.secret-list-admin-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.secret-list-admin-table th {
  background-color: darkslateblue;
  text-align: left;
}