.secret-list-admin-pagination {
  margin-top: 1rem;
}

.secret-card__thumb {
  display: block;
  max-width: 150px;
  max-height: 100px;
  border-radius: 8px;
  margin: auto;
}

.secret-list-admin-table__options button {
  margin-right: 1rem;
}

.secret-list-admin-table__options {
  white-space: nowrap;
}